src/main/resources/tickets.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://skropotov.ru/ws/ticket-service"
           targetNamespace="http://skropotov.ru/ws/ticket-service" elementFormDefault="qualified">
    <xs:element name="createTicketsRequest">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="startHour" type="xs:int" />
    			<xs:element name="endHour" type="xs:int" />
    			<xs:element name="startDate" type="xs:date" />
    			<xs:element name="endDate" type="xs:date" />
    			<xs:element name="visitDuration" type="xs:int" />
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>       
</xs:schema>            